<div class="jumbotron">
    <h1>Teste PokeApi</h1>
    <p class="lead">Antonio Dantas</p>
    
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Construir uma API em .NET Framework que consuma a API (https://pokeapi.co/) e possua as seguintes rotas:</h4>
        <p>
            <br />1 - get para 10 pokemons aleatórios
            <br />2 - get para 1 pokemon específico
            <br />*Todas elas devem retornar os dados basico do pokemon, suas evoluções e o base64 de sprite default de cada pokemon.
            <br />3 - Cadastro do mestre pokemon (dados basicos como nome, idade e cpf) em SQLite
            <br />4 - Post para informar que um pokemon foi capturado.
            <br />5 - Listagem dos pokemons já capturados.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>Observações:</h5>
        <p>
            <br />1 - O script para o Banco de dados se encontra em ScriptMestreBD.sql .
            <br />2 - Foi desenvolvida uma documentação básica para os itens programados.
            <br />3 - O método POST para o mestre pokemon está liberado para cadastro, os demais necessitam de autenticação.
            <br />4 - A autenticação é realizada com a geração de um /token por meio de username (CPF) password (senha informada) grant_type (password).
            <br />5 - Existe um teste unitário simples no projeto, porém é possível fazer de forma mais elaborada em lote.
        </p>
        <small>Agradeço a oportunidade de apresentar meu trabalho, tenha um ótimo dia.</small>
    </div>
</div>